<!DOCTYPE html>
<html>
<head>
	<title>图书排行</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/basic.css">
	<link rel="stylesheet" type="text/css" href="css/page06.css">
	<script type="text/javascript" src="data/bookRanking.js"></script>
	<script type="text/javascript" src="js/vue.min.js"></script>
	<script type="text/javascript" src="js/jquery-1.9.1.js"></script>
	<script type="text/javascript" src="js/xs.js"></script>
	<script type="text/javascript" src="js/base.js"></script>
</head>

<body>
	<div class="page06" id="app">
		<div class="topmenu">
			<ul>
				<li v-for="(n,index) in bookRanking" @click="toggleTab(n,index)">
					<img :src="n.selected" v-if="index==currentIndex"/>
					<img :src="n.default" v-else/>
				</li>
			</ul>
		</div>
		<div class="bookList">
			<ul>
				<li v-for="n in 10">
					<a href="javascript:;">
						<div class="pic">
							<img src="images/pic.png">
						</div>
						<h1>夏洛的网彩绘注音完整版</h1>
						<p class="author">E·B·怀特</p>
						<div class="others">
							<p>出版社：上海译文出版社</p>
							<p>出版日期：2018-08-01</p>
							<p>索书号：48290482</p>
							<p>单价：58.00元</p>
						</div>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<script type="text/javascript">
		new Vue({
			el:'#app',
			data:{
				currentIndex:0,
				flag:false,
				bookRanking:[],
				rankPic:'images/B_rank.png',
			},
			mounted() {
				this.init();
				console.log(this.bookRanking)
			},
			methods: {
				init() {
					this.bookRanking = bookRanking;
				},
				toggleTab(n,index) {
					this.currentIndex = index;
				},
			}
		});

	</script>
</body>
</html>