<!DOCTYPE html>
<html>
<head>
	<title>图书检索</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="layui/css/layui.css">
	<link rel="stylesheet" type="text/css" href="css/basic.css">
	<link rel="stylesheet" type="text/css" href="css/page04.css">
	<script type="text/javascript" src="data/cateList.js"></script>
	<script type="text/javascript" src="js/jquery-1.9.1.js"></script>
	<script type="text/javascript" src="js/vue.min.js"></script>
	<script type="text/javascript" src="js/keyboard.js"></script>
	<script type="text/javascript" src="js/xs.js"></script>
	<script type="text/javascript" src="js/base.js"></script>
	<script type="text/javascript" src="layui/layui.all.js"></script>
</head>

<body>
	<div class="page04 default" id="app">
		<div id="menu"><a href="弹窗.html"></a></div>
		<div class="search_box">
			<div class="search_w">
				<div class="search_all" >
					<div class="t" @click="showAll">{{alltext}}</div>
					<div class="b" >
						<div class="inner">
							<div class="scroll">
								<div v-for="n in searchList" @click="toggleAll(n)">{{n.text}}</div>
							</div>
						</div>
					</div>
				</div>
				<div class="search_category" @click="showCate">
					<div class="t">{{cateText}}</div>
					<div class="b">
						<div class="inner">
							<div class="scroll">
								<div v-for="n in cateList" @click="toggleCate(n)">{{n.text02}}</div>
							</div>
						</div>
					</div>
				</div>
				<div class="search_cell">
					<input type="text" name="" placeholder="请搜索你想看的书" @focus="showKeyBoard" >
					<a href="javascript:;" @click="searchBook"></a>
				</div>
				<div class="keyboard">
					<div class="keyboard_inner">
						<div class="c1">
							<div class="keboard_s key_1">1</div>
							<div class="keboard_s key_2">2</div>
							<div class="keboard_s key_3">3</div>
							<div class="keboard_s key_4">4</div>
							<div class="keboard_s key_5">5</div>
							<div class="keboard_s key_6">6</div>
							<div class="keboard_s key_7">7</div>
							<div class="keboard_s key_8">8</div>
							<div class="keboard_s key_9">9</div>
							<div class="keboard_s key_0">0</div>
							<div class="keboard_s key_delete">delete</div>
						</div>
						<div class="c1">
							<div class="keboard_s key_q">q</div>
							<div class="keboard_s key_w">w</div>
							<div class="keboard_s key_e">e</div>
							<div class="keboard_s key_r">r</div>
							<div class="keboard_s key_t">t</div>
							<div class="keboard_s key_y">y</div>
							<div class="keboard_s key_u">u</div>
							<div class="keboard_s key_i">i</div>
							<div class="keboard_s key_o">o</div>
							<div class="keboard_s key_p">p</div>
							<div class="keboard_s key_increace">+</div>
							<div class="keboard_s key_decreace">-</div>
						</div>
						<div class="c1">
							<div class="keboard_s key_a">a</div>
							<div class="keboard_s key_s">s</div>
							<div class="keboard_s key_d">d</div>
							<div class="keboard_s key_f">f</div>
							<div class="keboard_s key_g">g</div>
							<div class="keboard_s key_h">h</div>
							<div class="keboard_s key_j">j</div>
							<div class="keboard_s key_k">k</div>
							<div class="keboard_s key_l">l</div>
							<div class="keboard_s key_xiahua">_</div>
							<div class="keboard_s key_enter">enter</div>
						</div>
						<div class="c1">
							<div class="keboard_s key_z">z</div>
							<div class="keboard_s key_x">x</div>
							<div class="keboard_s key_c">c</div>
							<div class="keboard_s key_v">v</div>
							<div class="keboard_s key_b">b</div>
							<div class="keboard_s key_n">n</div>
							<div class="keboard_s key_m">m</div>
							<div class="keboard_s key_douhao">,</div>
							<div class="keboard_s key_dot">.</div>
							<div class="keboard_s key_wenhao">?</div>
						</div>
						<div class="c1">
							<div class="key_kongge">space</div>
						</div>
					</div>
				</div>
			</div>
			<button class="search_btn">搜索</button>
		</div>
		<div class="success_wrap">
			<div class="search_result">为你搜索到356个相关书籍</div>
			<div class="success_bookList">
				<ul>
					<li v-for="n in 10">
						<a href="javascript:;">
							<div class="book_top">
								<div class="pic"><img src="images/pic.png"></div>
								<div class="book_basic">
									<p>E·B·怀特</p>
									<h1>夏洛的网彩绘注音完整版</h1>
								</div>
							</div>
							<div class="book_details">
								<p>出版社：上海译文出版社</p>
								<p>出版日期：2018-08-01</p>
								<p>索书号：48290482</p>
								<p>单价：58.00元</p>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		new Vue({
			el:'#app',
			data: {
				flag: true,
				cateList:[],
				searchList:[],
				alltext:'所有字段',
				cateText:'分类'
			},
			mounted() {
				this.init();
			},
			methods: {
				init() {
					this.cateList = cateList;
					this.searchList = searchList;
				},
				showAll: function() {
					var _all = document.getElementsByClassName('search_all')[0];
					var _b = _all.getElementsByClassName('b')[0]
					if(this.flag) {
						_b.style.display = 'block';
					} else {
						_b.style.display = 'none';
					}
					this.flag = !this.flag;
				},
				showCate: function() {
					var _all = document.getElementsByClassName('search_category')[0];
					var _b = _all.getElementsByClassName('b')[0]
					if(this.flag) {
						_b.style.display = 'block';
					} else {
						_b.style.display = 'none';
					}
					this.flag = !this.flag;
				},
				searchBook: function() {
					
				},
				showKeyBoard: function() {
					console.log(this)
				},
				toggleAll(n) {
					this.alltext = n.text;
					this.showAll();
				},
				toggleCate(n) {
					this.cateText = n.text02;
					// this.showCate();
				}

			}
		});
		layui.use('flow', function(){
			var flow = layui.flow;
			flow.load({
				elem: '.success_bookList ul', //流加载容器
				isAuto: false,
				isLazyimg: true,
				done: function(page, next){ //加载下一页
					//模拟插入
					setTimeout(function(){
						var lis = [];
						for(var i = 0; i < 6; i++){
							lis.push('<li></li>')
						}
						next(lis.join(''), page < 6); //假设总页数为 6
					}, 500);
				}
  			});
		});
</script>
</body>
</html>